POSTGRES_DB=recicla_entulhos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@db:5432/recicla_entulhos?schema=public
BACKEND_PORT=3001
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api
FRONTEND_URL=http://localhost:3000
